In [2]:
import os
import ast
import json
import mongoengine as db
import pandas as pd
from blob_schema import Blob
from metadata_schema import Metadata
from bson import ObjectId
from store_schema import Store
from zone_schema import Zone
from video_schema import Video
import re
from dotenv import load_dotenv,find_dotenv
load_dotenv(find_dotenv())
import random
import datetime
from faker import Faker
fake = Faker()

In [4]:
segmentation_json = "/home/pranjal/project/sentinel-core/results/cctv-seg-15_min_13_16/instances_default.json"
df = pd.read_feather("/home/aryan/project/sentinel-core/results/processed_zone.feather")

In [5]:
print(db.__version__)

0.27.0

In [6]:
with open(segmentation_json, "r") as f:
    seg_json = json.load(f)

In [7]:
seg_json.keys()

dict_keys(['licenses', 'info', 'categories', 'images', 'annotations'])

In [8]:
annotations_df = pd.DataFrame(seg_json['annotations'])
annotations_df

,id,image_id,category_id,segmentation,area,bbox,iscrowd,attributes
0,1,4,2,"[[695.04, 467.2, 591.51, 0.96, 709.52, 0.96, 8...",79785.0,"[591.51, 0.96, 304.07, 467.69]",0,"{'category': 'mobile2', 'occluded': False}"
1,2,4,3,"[[13.05, 519.33, 46.35, 412.18, 220.83, 1.68, ...",215862.0,"[13.05, 1.68, 478.55, 568.33]",0,"{'tag': 'mobile1', 'occluded': False}"
2,3,4,3,"[[500.29, 559.87, 493.06, 0.0, 528.74, 0.0, 75...",203368.0,"[493.06, 0.0, 443.07, 568.56]",0,"{'tag': 'mobile2', 'occluded': False}"
3,4,4,1,"[[1.47, 469.38, 73.86, 281.14, 145.54, 129.83,...",218191.0,"[1.47, 0.0, 943.34, 574.35]",0,{'occluded': False}
4,5,4,2,"[[92.69, 416.52, 163.64, 220.33, 212.14, 103.0...",89925.0,"[90.52, 1.68, 316.38, 456.84]",0,"{'category': 'mobile1', 'occluded': False}"
5,6,5,3,"[[70.4, 418.76, 164.5, 294.42, 177.27, 218.47,...",177989.0,"[70.4, 63.21, 556.51, 479.22]",0,"{'tag': 'oppo', 'occluded': False}"
6,7,5,1,"[[18.6, 547.0, 5.3, 207.2, 32.3, 185.4, 53.65,...",216654.0,"[5.3, 11.3, 692.08, 553.4]",0,{'occluded': False}
7,8,5,2,"[[187.28, 227.61, 244.64, 110.46, 441.11, 156....",47256.0,"[187.28, 110.46, 344.14, 216.0]",0,"{'category': 'oppo', 'occluded': False}"
8,9,10,3,"[[6.55, 12.8, 247.17, 10.78, 270.02, 84.04, 34...",163344.0,"[3.86, 10.78, 338.75, 557.19]",0,"{'tag': 'play_station', 'occluded': False}"
9,10,10,2,"[[1.17, 438.92, 13.27, 239.3, 18.65, 128.4, 32...",84749.0,"[1.17, 42.37, 205.67, 507.45]",0,"{'category': 'play_station', 'occluded': False}"
10,11,10,3,"[[483.75, 13.47, 503.91, 46.41, 505.26, 98.16,...",46495.0,"[475.01, 6.75, 223.14, 241.95]",0,"{'tag': 'entry-exit', 'occluded': False}"
11,12,10,1,"[[108.71, 567.97, 99.97, 426.15, 97.96, 221.83...",182115.0,"[97.96, 120.34, 596.83, 451.66]",0,{'occluded': False}

In [9]:
image_df = pd.DataFrame(seg_json["images"])

image_df

,id,width,height,file_name,license,flickr_url,coco_url,date_captured
0,1,704,576,ch9_20240101 1800hrs to 1859hrs_anonymized_pro...,0,,,0
1,2,704,576,ch8_20240101 1800hrs to 1859hrs_anonymized_pro...,0,,,0
2,3,704,480,ch7_20240101 1800hrs to 1900hrs_anonymized_pro...,0,,,0
3,4,960,576,ch16_20240101 1800hrs to 1900hrs_anonymized_pr...,0,,,0
4,5,704,576,ch15_20240101 1800hrs to 1900hrs_anonymized_pr...,0,,,0
5,6,704,576,ch14_20240101 1800hrs to 1900hrs_anonymized_pr...,0,,,0
6,7,704,576,ch12_processed.jpg,0,,,0
7,8,704,576,ch11_processed.jpg,0,,,0
8,9,704,576,ch10_20240101 1800hrs to 1859hrs_anonymized_pr...,0,,,0
9,10,704,576,Channel 13 1800hrs to 1900hrs_anonymized_proce...,0,,,0

In [10]:
categories_df = pd.DataFrame(seg_json["categories"])

categories_df

   id        name supercategory
0   1      ground
1   2  department
2   3        zone

In [11]:
for rows,value in categories_df.iterrows():
    annotations_df.loc[annotations_df['category_id']==value['id'],"zones"] = value["name"]

In [12]:
# annotations_df.drop("departments",axis=1)
# annotations_df.head()
df.head()
customer_zone = df["customer_zone"]
type(customer_zone.values[0])

dict

In [15]:
def merge_dicts(x, y):
    merged_dict = x.copy()
    merged_dict.update(y)
    return merged_dict

In [17]:
df.head()

,frame_number,time_stamp,process_time,labels,confidences,segmentation_masks,pose_bboxes,pose_track_ids,fps,image_path,customer_zone,employees_zone,combined_zones
0,0,2024-02-25 22:15:01.359274,0 days 00:00:00.007311,"[1, 0]","[0.9652077555656433, 0.7894357442855835]","[[430.0999755859375, 2.000000238418579, 429.0,...","[[383, 0, 448, 203], [134, 48, 204, 199]]","[1, 2]",8,./results/cctv-seg-1//13_1/13_3-1_processed/im...,"{'0_zone': [2], '1_department': [2], '2_zone':...","{'2_zone': None, '3_ground': None}","{'0_zone': [2], '1_department': [2], '2_zone':..."
1,1,2024-02-25 22:15:01.484274,0 days 00:00:00.000321,"[1, 0]","[0.963990330696106, 0.8119863271713257]","[[427.8999938964844, 2.000000238418579, 426.79...","[[383, 0, 448, 203], [133, 48, 204, 201]]","[1, 2]",8,./results/cctv-seg-1//13_1/13_3-1_processed/im...,"{'0_zone': [2], '1_department': [2], '2_zone':...","{'2_zone': None, '3_ground': None}","{'0_zone': [2], '1_department': [2], '2_zone':..."
2,2,2024-02-25 22:15:01.609274,0 days 00:00:00.000321,"[1, 0]","[0.9630478620529175, 0.8008570671081543]","[[427.8999938964844, 2.000000238418579, 426.79...","[[383, 0, 448, 203], [135, 48, 204, 199]]","[1, 2]",8,./results/cctv-seg-1//13_1/13_3-1_processed/im...,"{'0_zone': [2], '1_department': [2], '2_zone':...","{'2_zone': None, '3_ground': None}","{'0_zone': [2], '1_department': [2], '2_zone':..."
3,3,2024-02-25 22:15:01.734274,0 days 00:00:00.000314,"[1, 0, 0]","[0.9627370238304138, 0.8099640607833862, 0.924...","[[427.8999938964844, 2.000000238418579, 426.79...","[[383, 0, 448, 203], [135, 49, 204, 199], [570...","[1, 2, 3]",8,./results/cctv-seg-1//13_1/13_3-1_processed/im...,"{'0_zone': None, '1_department': None, '2_zone...","{'2_zone': None, '3_ground': None}","{'0_zone': None, '1_department': None, '2_zone..."
4,4,2024-02-25 22:15:01.859274,0 days 00:00:00.000325,"[1, 0, 0]","[0.9621931910514832, 0.8038302659988403, 0.958...","[[427.8999938964844, 2.000000238418579, 426.79...","[[383, 0, 448, 203], [135, 49, 204, 199], [569...","[1, 2, 3]",8,./results/cctv-seg-1//13_1/13_3-1_processed/im...,"{'0_zone': None, '1_department': None, '2_zone...","{'2_zone': None, '3_ground': None}","{'0_zone': None, '1_department': None, '2_zone..."

In [37]:
pose_track_id_list = []
labels_list = []
confidence_list = []
for index,row in df.iterrows():
    if row is not None:
        for key,track_id in enumerate(row["pose_track_ids"]):
            pose_track_id_list.append(track_id)
            labels_list.append(row["labels"][key])
            confidence_list.append(row["confidences"][key])
test_df = pd.DataFrame({'track_ids':pose_track_id_list,'labels':labels_list,'confidences':confidence_list})
idx = test_df.groupby("track_ids")["confidences"].idxmax()
result_df = test_df.loc[idx]
#pose_track_id_list

In [40]:
filtered_df = result_df[result_df["labels"]==1]

In [41]:
filtered_df.head()

      track_ids  labels  confidences
775          24       1     0.972444
1441         29       1     0.968458
2079         31       1     0.971312
1989         34       1     0.673050
2652         43       1     0.955528

In [ ]:
for key,row in df.iterrows():
    if row["track_ids"]==1:

In [30]:
idx = test_df.groupby("track_ids")["confidences"].idxmax()

In [31]:
result_df = test_df.loc[idx]

In [33]:
result_df

      track_ids  labes  confidences
155           1      0     0.973293
437           2      0     0.895524
14            3      0     0.963474
33            5      0     0.918533
66            6      0     0.902425
...         ...    ...          ...
7823        158      0     0.895276
7992        161      0     0.881030
8104        163      0     0.977122
8171        164      0     0.961200
8257        165      0     0.800548

[105 rows x 3 columns]

In [16]:
df['combined_zones'] = df.apply(lambda row: merge_dicts(row['customer_zone'],row['employees_zone']),axis=1)

In [4]:
df.head()

,frame_number,time_stamp,process_time,labels,confidences,segmentation_masks,pose_bboxes,pose_track_ids,fps,image_path,customer_zone,employees_zone
0,0,2024-02-25 22:15:01.359274,0 days 00:00:00.007311,"[1, 0]","[0.9652077555656433, 0.7894357442855835]","[[430.0999755859375, 2.000000238418579, 429.0,...","[[383, 0, 448, 203], [134, 48, 204, 199]]","[1, 2]",8,./results/cctv-seg-1//13_1/13_3-1_processed/im...,"{'0_zone': [2], '1_department': [2], '2_zone':...","{'2_zone': None, '3_ground': None}"
1,1,2024-02-25 22:15:01.484274,0 days 00:00:00.000321,"[1, 0]","[0.963990330696106, 0.8119863271713257]","[[427.8999938964844, 2.000000238418579, 426.79...","[[383, 0, 448, 203], [133, 48, 204, 201]]","[1, 2]",8,./results/cctv-seg-1//13_1/13_3-1_processed/im...,"{'0_zone': [2], '1_department': [2], '2_zone':...","{'2_zone': None, '3_ground': None}"
2,2,2024-02-25 22:15:01.609274,0 days 00:00:00.000321,"[1, 0]","[0.9630478620529175, 0.8008570671081543]","[[427.8999938964844, 2.000000238418579, 426.79...","[[383, 0, 448, 203], [135, 48, 204, 199]]","[1, 2]",8,./results/cctv-seg-1//13_1/13_3-1_processed/im...,"{'0_zone': [2], '1_department': [2], '2_zone':...","{'2_zone': None, '3_ground': None}"
3,3,2024-02-25 22:15:01.734274,0 days 00:00:00.000314,"[1, 0, 0]","[0.9627370238304138, 0.8099640607833862, 0.924...","[[427.8999938964844, 2.000000238418579, 426.79...","[[383, 0, 448, 203], [135, 49, 204, 199], [570...","[1, 2, 3]",8,./results/cctv-seg-1//13_1/13_3-1_processed/im...,"{'0_zone': None, '1_department': None, '2_zone...","{'2_zone': None, '3_ground': None}"
4,4,2024-02-25 22:15:01.859274,0 days 00:00:00.000325,"[1, 0, 0]","[0.9621931910514832, 0.8038302659988403, 0.958...","[[427.8999938964844, 2.000000238418579, 426.79...","[[383, 0, 448, 203], [135, 49, 204, 199], [569...","[1, 2, 3]",8,./results/cctv-seg-1//13_1/13_3-1_processed/im...,"{'0_zone': None, '1_department': None, '2_zone...","{'2_zone': None, '3_ground': None}"

In [66]:
df.loc[2000]["pose_track_ids"]

array([121, 114,  26, 132])

In [67]:
df.loc[2000]["combined_zones"]

{'0_zone': None, '1_department': None, '2_zone': None, '3_ground': None}

In [24]:
zone_list = []
zones = df["combined_zones"]
for x in zones:
    for key,val in x.items():
        if val is not None:
            for i in val:
                if id==i:
                    zone_list.append(key)
print(zone_list)

[]

In [46]:
#df.head()
#/df["segmentation_masks"].values[0]

In [47]:
type(df['confidences'])

pandas.core.series.Series

In [48]:
def connect_to_mongo():
    mongo_url = os.environ.get('MONGO_APP_URL')
    db.connect(host=mongo_url)
    print(mongo_url)

In [49]:
pose_track_ids_lists=df["pose_track_ids"]

In [50]:
flat_pose_track_ids = [track_id for sublist in pose_track_ids_lists for track_id in sublist]

unique_track_ids = list(set(flat_pose_track_ids))

In [32]:
df.head()
type(df['combined_zones'])

pandas.core.series.Series

In [28]:
df.head()

,frame_number,time_stamp,process_time,labels,confidences,segmentation_masks,pose_bboxes,pose_track_ids,fps,image_path,customer_zone,employees_zone,combined_zones
0,0,2024-02-25 22:15:01.359274,0 days 00:00:00.007311,"[1, 0]","[0.9652077555656433, 0.7894357442855835]","[[430.0999755859375, 2.000000238418579, 429.0,...","[[383, 0, 448, 203], [134, 48, 204, 199]]","[1, 2]",8,./results/cctv-seg-1//13_1/13_3-1_processed/im...,"{'0_zone': [2], '1_department': [2], '2_zone':...","{'2_zone': None, '3_ground': None}","{'0_zone': [2], '1_department': [2], '2_zone':..."
1,1,2024-02-25 22:15:01.484274,0 days 00:00:00.000321,"[1, 0]","[0.963990330696106, 0.8119863271713257]","[[427.8999938964844, 2.000000238418579, 426.79...","[[383, 0, 448, 203], [133, 48, 204, 201]]","[1, 2]",8,./results/cctv-seg-1//13_1/13_3-1_processed/im...,"{'0_zone': [2], '1_department': [2], '2_zone':...","{'2_zone': None, '3_ground': None}","{'0_zone': [2], '1_department': [2], '2_zone':..."
2,2,2024-02-25 22:15:01.609274,0 days 00:00:00.000321,"[1, 0]","[0.9630478620529175, 0.8008570671081543]","[[427.8999938964844, 2.000000238418579, 426.79...","[[383, 0, 448, 203], [135, 48, 204, 199]]","[1, 2]",8,./results/cctv-seg-1//13_1/13_3-1_processed/im...,"{'0_zone': [2], '1_department': [2], '2_zone':...","{'2_zone': None, '3_ground': None}","{'0_zone': [2], '1_department': [2], '2_zone':..."
3,3,2024-02-25 22:15:01.734274,0 days 00:00:00.000314,"[1, 0, 0]","[0.9627370238304138, 0.8099640607833862, 0.924...","[[427.8999938964844, 2.000000238418579, 426.79...","[[383, 0, 448, 203], [135, 49, 204, 199], [570...","[1, 2, 3]",8,./results/cctv-seg-1//13_1/13_3-1_processed/im...,"{'0_zone': None, '1_department': None, '2_zone...","{'2_zone': None, '3_ground': None}","{'0_zone': None, '1_department': None, '2_zone..."
4,4,2024-02-25 22:15:01.859274,0 days 00:00:00.000325,"[1, 0, 0]","[0.9621931910514832, 0.8038302659988403, 0.958...","[[427.8999938964844, 2.000000238418579, 426.79...","[[383, 0, 448, 203], [135, 49, 204, 199], [569...","[1, 2, 3]",8,./results/cctv-seg-1//13_1/13_3-1_processed/im...,"{'0_zone': None, '1_department': None, '2_zone...","{'2_zone': None, '3_ground': None}","{'0_zone': None, '1_department': None, '2_zone..."

In [54]:
# customer_zone = df["customer_zone"].value[0]
# for key, value in customer_zone.item()
#     if value is not None:
#         for x in value:
#             if id == x:
#                 y=db.zone.find(key)
#                 y["id"]

In [35]:
mongo_url = 'mongodb+srv://neo-rajkishore:NeoRajkishore12345@disha.btaddfx.mongodb.net/reliance-digital-test?retryWrites=true&w=majority'
db.connect(host=mongo_url)
print(mongo_url)

mongodb+srv://neo-rajkishore:NeoRajkishore12345@disha.btaddfx.mongodb.net/reliance-digital-test?retryWrites=true&w=majority

In [56]:
def fill_data():
    
    store = Store(
        id="001",
        name = "DIGITAL-Seawood-NaviMumbai",
        organization = "reliance-retail",
        format = "SMART",
        category = "DIGITAL",
        state = "MH",
        city = "NaviMumbai",
        district = "Raigarh",
        location={"longitude": 19.020174, "latitude": 73.017255},
        layout = {"zones":["Z-0000","Z-0001","Z-0002","Z-0003"]},
        createdAt = datetime.datetime.now(),
        updatedAt = datetime.datetime.now()
        )
    store.save()    
    print("store data saved")

    storeall = Store.objects.first()
    colour_hex_codes = ["#FF5733", "#33FF57", "#5733FF", "#FFFF33"]
    dummy_zones = [{
            'id': "Z-0000",
            'name': "0_zone",
            'store': storeall,
            'colourHex': secrets.choice(colour_hex_codes)
        },
        {
            'id': "Z-0001",
            'name': "1_department",
            'store': storeall,
            'colourHex': secrets.choice(colour_hex_codes)
        },
        {
            'id': "Z-0002",
            'name': "2_zone",
            'store': storeall,
            'colourHex': secrets.choice(colour_hex_codes)
        },
        {
            'id': "Z-0003",
            'name': "3_ground",
            'store': storeall,
            'colourHex': secrets.choice(colour_hex_codes)
        }]
    for zone_data in dummy_zones:
        zone = Zone(**zone_data) # ** is for unpacking the dictionary
        zone.save()
    print("zone data saved")

    metadata_dict = []
    
    for key, val in df.iterrows():
        for x in val["pose_track_ids"]:
            
            ''''''
            zone_list = []
            zones = val["combined_zones"]
            for x in zones:
                for key,val in x.items():
                    if val is not None:
                        for i in val:
                            if x==i:
                                zone_list.append(key)
            ''''''
            metadata = {
                "pose_track_id": x,
                "person_class": val[label_dict[x]],
                "time_stamp": val["time_stamp"],
                "fps": val["fps"],
                "age": random.randint(18,70),
                "gender": random.random(["Male","Female"]),
                "upper_body_clothes": random.random(["Black","Green"]),
                "lower_body_clothes": random.random(["while","Black"]),
                "zone_id":   zone_list[,
                "pose_segmentation_mask": val["pose_segmentation_mask"],
                "confidence": val["confidence"]
            }
            metadata_dict.append(metadata)

    for meta in metadata_dict:
        metadata = Metadata(**meta)
        metadata.save()
    print("metadata saved")

In [57]:
def main():
    try:
        connect_to_mongo()
        print("Database connection successful..")
        
        fill_data()

        print(f"{n} dummy records inserted into the Tracking_id collection.")
        
    except Exception as e:
        print(f"An unexpected error occurred: {e}")


if __name__ == "__main__":
    main()

None
Database connection successful..
An unexpected error occurred: ValidationError (Store:None) (Invalid ObjectID: ['auto_id_0', 'location', 'layout'])

In [55]:
row["confidences"][1]

0.7894357442855835

In [54]:
row["segmentation_masks"][1].tolist()

[172.6999969482422,
 50.400001525878906,
 163.89999389648438,
 59.20000076293945,
 161.6999969482422,
 59.20000076293945,
 160.59999084472656,
 60.29999923706055,
 159.5,
 60.29999923706055,
 159.5,
 61.400001525878906,
 158.39999389648438,
 62.5,
 158.39999389648438,
 63.60000228881836,
 156.1999969482422,
 65.80000305175781,
 156.1999969482422,
 69.0999984741211,
 155.09999084472656,
 70.19999694824219,
 151.8000030517578,
 70.19999694824219,
 152.89999389648438,
 71.30000305175781,
 152.89999389648438,
 79.0,
 151.8000030517578,
 80.0999984741211,
 150.6999969482422,
 80.0999984741211,
 148.5,
 82.30000305175781,
 148.5,
 83.4000015258789,
 147.39999389648438,
 84.5,
 146.3000030517578,
 84.5,
 145.1999969482422,
 85.5999984741211,
 144.09999084472656,
 85.5999984741211,
 141.89999389648438,
 87.80000305175781,
 140.8000030517578,
 87.80000305175781,
 139.6999969482422,
 88.9000015258789,
 138.59999084472656,
 88.9000015258789,
 137.5,
 90.0,
 137.5,
 94.4000015258789,
 136.39999389648438,
 95.5,
 136.39999389648438,
 101.0,
 137.5,
 102.0999984741211,
 137.5,
 113.0999984741211,
 138.59999084472656,
 114.19999694824219,
 138.59999084472656,
 115.29999542236328,
 139.6999969482422,
 116.4000015258789,
 139.6999969482422,
 118.5999984741211,
 140.8000030517578,
 119.69999694824219,
 140.8000030517578,
 121.9000015258789,
 144.09999084472656,
 125.19999694824219,
 144.09999084472656,
 126.29999542236328,
 145.1999969482422,
 127.4000015258789,
 145.1999969482422,
 128.5,
 148.5,
 131.8000030517578,
 148.5,
 132.89999389648438,
 149.59999084472656,
 134.0,
 149.59999084472656,
 136.1999969482422,
 152.89999389648438,
 139.5,
 152.89999389648438,
 140.59999084472656,
 154.0,
 141.6999969482422,
 154.0,
 142.79998779296875,
 155.09999084472656,
 143.89999389648438,
 155.09999084472656,
 144.99998474121094,
 158.39999389648438,
 148.29998779296875,
 158.39999389648438,
 149.39999389648438,
 160.59999084472656,
 151.59999084472656,
 161.6999969482422,
 151.59999084472656,
 166.09999084472656,
 155.99998474121094,
 166.09999084472656,
 161.49998474121094,
 167.1999969482422,
 162.59999084472656,
 167.1999969482422,
 168.09999084472656,
 165.0,
 170.29998779296875,
 165.0,
 171.39999389648438,
 166.09999084472656,
 172.49998474121094,
 166.09999084472656,
 174.69998168945312,
 167.1999969482422,
 174.69998168945312,
 168.29998779296875,
 175.79998779296875,
 169.39999389648438,
 175.79998779296875,
 170.5,
 174.69998168945312,
 170.5,
 172.49998474121094,
 169.39999389648438,
 171.39999389648438,
 169.39999389648438,
 166.99998474121094,
 170.5,
 165.89999389648438,
 170.5,
 164.79998779296875,
 172.6999969482422,
 162.59999084472656,
 172.6999969482422,
 161.49998474121094,
 173.79998779296875,
 160.39999389648438,
 174.89999389648438,
 160.39999389648438,
 177.09999084472656,
 158.19998168945312,
 180.39999389648438,
 158.19998168945312,
 181.5,
 159.29998779296875,
 182.59999084472656,
 159.29998779296875,
 184.79998779296875,
 161.49998474121094,
 184.79998779296875,
 162.59999084472656,
 185.89999389648438,
 162.59999084472656,
 189.1999969482422,
 165.89999389648438,
 189.1999969482422,
 166.99998474121094,
 193.59999084472656,
 171.39999389648438,
 195.79998779296875,
 171.39999389648438,
 195.79998779296875,
 170.29998779296875,
 196.89999389648438,
 169.19998168945312,
 196.89999389648438,
 155.99998474121094,
 198.0,
 154.89999389648438,
 198.0,
 153.79998779296875,
 200.1999969482422,
 151.59999084472656,
 200.1999969482422,
 150.49998474121094,
 201.29998779296875,
 149.39999389648438,
 201.29998779296875,
 144.99998474121094,
 202.39999389648438,
 143.89999389648438,
 202.39999389648438,
 134.0,
 201.29998779296875,
 132.89999389648438,
 201.29998779296875,
 130.6999969482422,
 198.0,
 127.4000015258789,
 198.0,
 125.19999694824219,
 199.09999084472656,
 124.0999984741211,
 199.09999084472656,
 121.9000015258789,
 200.1999969482422,
 120.79999542236328,
 200.1999969482422,
 117.5,
 196.89999389648438,
 117.5,
 192.5,
 113.0999984741211,
 192.5,
 110.9000015258789,
 191.39999389648438,
 109.79999542236328,
 191.39999389648438,
 96.5999984741211,
 192.5,
 95.5,
 192.5,
 69.0999984741211,
 189.1999969482422,
 65.80000305175781,
 189.1999969482422,
 64.69999694824219,
 188.09999084472656,
 63.60000228881836,
 188.09999084472656,
 55.900001525878906,
 187.0,
 54.79999923706055,
 185.89999389648438,
 54.79999923706055,
 183.6999969482422,
 52.60000228881836,
 183.6999969482422,
 51.5,
 182.59999084472656,
 50.400001525878906]

In [51]:

for key, row in df.iterrows():
    if row is not None:
        for x in row["pose_track_ids"]:
            zone_id_list = []
            zone_list = []
            zones = row["combined_zones"]
            print("zones:",zones,"type:",type(zones))
            for key,val in zones.items():
                if val is not None:
                    print("val:",val)
                    for i in val:
                        if x==i:
                            zone_list.append(key)
            for val in zone_list:
                cursor = zone.find({val})
                zone_id_list.append(cursor.zone_id)
            
            print(zone_id_list)

zones: {'0_zone': array([2]), '1_department': array([2]), '2_zone': None, '3_ground': None} type: <class 'dict'>
val: [2]
val: [2]
[]
zones: {'0_zone': array([2]), '1_department': array([2]), '2_zone': None, '3_ground': None} type: <class 'dict'>
val: [2]
i: 2
val: [2]
i: 2

NameError: name 'zone' is not defined

In [26]:
def filling_blob(num_records):
    for i in range(num_records):
        pose_track_ids = unique_track_ids[i]
        labels = list(row['label'])
        person_class = [element for element in labels if element.isdigit()]
        age = random.randint(18, 70)  
        gender = random.choice(['Male', 'Female'])
        upper_body_clothes = random.choice(['Red', 'Blue', 'Green', 'Yellow'])
        lower_body_clothes = random.choice(['Black', 'White', 'Gray'])
        metadata_refs = [] 
        store_id = None  
        group = random.choices(['1', '2', '3'], k=random.randint(1, 3))  

        blob = Blob(
            pose_track_ids=pose_track_ids,
            person_class=person_class,
            age=age,
            gender=gender,
            upper_body_clothes=upper_body_clothes,
            lower_body_clothes=lower_body_clothes,
            metadata_refs=metadata_refs,
            store_id=store_id,
            group=group
        )
        blob.save()

In [27]:
my_dict=df['customer_zone'].values[90]
my_dict2=df['employees_zone'].values[90]
zone_id_mapping = {
            "0_zone": {"customer":[],
                      "employees":[]},
            "1_department": {"customer":[],
                      "employees":[]},
            "2_zone": {"customer":[],
                      "employees":[]},
            "3_ground": {"customer":[],
                      "employees":[]}
        }
for key, value in my_dict.items():
    print(key,"-",value)
    if value is not None:
        value.tolist()
        flattened_list = [sublist for sublist in value]
        #print("flattened_list:", flattened_list)
        unique_numbers = set(flattened_list)
        #print (unique_numbers)

        zone_id_mapping[key]["customer"].append(unique_numbers)

for key, value in my_dict2.items():
        
        # print(type(value1))
        
    if value is not None:
        value.tolist()
        flattened_list = [sublist for sublist in value]
        #print("flattened_list:", flattened_list)
        unique_numbers = set(flattened_list)
        # print (unique_numbers,type(unique_numbers))

        zone_id_mapping[key]["employees"].append(unique_numbers)
    
print(zone_id_mapping)

0_zone - [2]
1_department - [2]
2_zone - None
3_ground - None
{'0_zone': {'customer': [{2}], 'employees': []}, '1_department': {'customer': [{2}], 'employees': []}, '2_zone': {'customer': [], 'employees': []}, '3_ground': {'customer': [], 'employees': []}}

In [ ]:
{1, 5, 6, 7, 8, 10}, {1}

In [ ]:
def filling_metadata():
    blob_dict = {}

    for index,row in df[:].iterrows():
        frame_no =int( row['frame_number'])
        pose = row['pose_bbox']
        pose_bbox = [list(map(int, re.findall(r'\d+', item))) for item in pose.split(')\n') if item]
        pose_segmentation_mask = [sub_series.tolist() for sub_series in df['segmentation_masks']]
        confidence = df['confidences'].tolist()
        age = random.randint(18, 80)
        gender = random.choice(['Male', 'Female']) 
        upper_body_clothes = random.choice(['Red', 'Blue', 'Green', 'Yellow']) 
        lower_body_clothes = random.choice(['Black', 'White', 'Gray'])
        time_stamp = row['time_stamp']
        fps = row['fps']
        df
        zone_id_mapping = {
            "ground": ground_ids,
            "department": department_ids,
            "0_zone": 0_zone,
            "zone2": zone2_ids
        }
        ''''''
        my_dict=df['customer_zone'].values[90]
        my_dict2=df['employees_zone'].values[90]
        zone_id_mapping = {
                    "0_zone": {"customer":[],
                              "employees":[]},
                    "1_department": {"customer":[],
                              "employees":[]},
                    "2_zone": {"customer":[],
                              "employees":[]},
                    "3_ground": {"customer":[],
                              "employees":[]}
                }
        for key, value in my_dict.items():
                
            if value is not None:
                value.tolist()
                flattened_list = [sublist for sublist in value]
                #print("flattened_list:", flattened_list)
                unique_numbers = set(flattened_list)
                #print (unique_numbers)
        
                zone_id_mapping[key]["customer"].append(unique_numbers)
        
        for key, value in my_dict2.items():
                
                # print(type(value1))
                
            if value is not None:
                value.tolist()
                flattened_list = [sublist for sublist in value]
                #print("flattened_list:", flattened_list)
                unique_numbers = set(flattened_list)
                # print (unique_numbers,type(unique_numbers))
        
                zone_id_mapping[key]["employees"].append(unique_numbers)
        
        ''''''
        
    
        for index,value in enumerate(pose_track_id):

            blob = Blob(
                pose_track_ids = value,
                frame_number=frame_no,
                elapsed_time=elaps_time,
                time_stamp = time_stamp,
                pose_bbox=pose_bbox[index],
                fps=fps,
            ).save()
            track_id = Tracking_id(

            )
            print("blob data saved")
            if value not in tracking_id_dict:
                tracking_id = Tracking_id(
                    pose_track_ids=value,
                    person_class=labels[index],
                    age=45,
                    gender='male',
                    upper_body_clothes='green',
                    lower_body_clothes='white',
                ).save()
                tracking_id_dict[value] = tracking_id
                print("trackingid data saved")
            blob.trackingid_ref = tracking_id_dict[value]
            blob.save()
            tracking_id_dict[value].blob_refs.append(blob.id)
            tracking_id_dict[value].save()

In [13]:
def populate_camera_data():
    dummy_cameras = [
        {
            "store_id": "store_id_1",
            "camera_id": "camera_001",
            "blob": "blob_id_1",  # Assuming you have blob IDs in your database
            "zones": {"zone1": "description1", "zone2": "description2"},
            "analysis_timestamp": datetime.datetime.utcnow(),
            "neo_object": [
                {"id": 1, "coordinates": {"x": 19.09, "y": 25.55}},
                {"id": 2, "coordinates": {"x": 21.35, "y": 28.75}},
            ],
            "created_at": datetime.datetime.datetime.now(),
            "update_at": datetime.datetime.utcnow()
        },
        {
            "store_id": "store_id_2",
            "camera_id": "camera_002",
            "blob": "blob_id_2",  # Assuming you have blob IDs in your database
            "zones": {"zone3": "description3", "zone4": "description4"},
            "analysis_timestamp": datetime.datetime.utcnow(),
            "neo_object": [
                {"id": 3, "coordinates": {"x": 15.20, "y": 30.10}},
                {"id": 4, "coordinates": {"x": 18.75, "y": 22.90}},
            ],
            "created_at": datetime.datetime.utcnow(),
            "update_at": datetime.datetime.utcnow()
        },
    ]

    for camera_data in dummy_cameras:
        camera = Camera(
            store_id=camera_data["store_id"],
            camera_id=camera_data["camera_id"],
            blob=camera_data["blob"],
            zones=camera_data["zones"],
            analysis_timestamp=camera_data["analysis_timestamp"],
            neo_object=camera_data["neo_object"],
            created_at=camera_data["created_at"],
            update_at=camera_data.get("update_at", camera_data["created_at"])
        )
        camera.save()

    print("Dummy data populated successfully.")

In [ ]:
def generate_dummy_zones(num_zones):
    dummy_zones = []
    for i in range(num_zones):
        zone_id = f"zone_{i+1}"
        name = f"Zone {i+1}"
        store_id = "your_store_id" 
        colour_hex = f"#{random.randint(0, 0xFFFFFF):06x}" 
        
        zone_data = {
            'id': zone_id,
            'name': name,
            'store': store_id,
            'colourHex': colour_hex
        }
        dummy_zones.append(zone_data)

    return dummy_zones

def save_dummy_zones(dummy_zones):
    for zone_data in dummy_zones:
        zone = Zone(**zone_data)
        zone.save()

In [ ]:
def populate_videos(num_records):
    for _ in range(num_records):
        # Generate dummy values for each field
        store_id = 'some_store_id'  # Replace with actual store IDs
        camera_id = 'some_camera_id'  # Replace with actual camera IDs
        source_url = fake.url()
        upload_timestamp = fake.date_time_this_year()
        start_time = fake.date_time_this_year()
        end_time = fake.date_time_this_year()
        
        # Create a new Video document with the generated data
        video = Video(
            store_id=store_id,
            camera_id=camera_id,
            source_url=source_url,
            upload_timestamp=upload_timestamp,
            start_time=start_time,
            end_time=end_time
        )
        video.save()

In [ ]:
def main():
    try:
        connect_to_mongo()
        print("Database connection successful..")
        
        n = 10

        dummy_tracking_id(n)
        populate_camera_data()
        dummy_zones = generate_dummy_zones(n)
        save_dummy_zones(dummy_zones)
        populate_videos(n)

        print(f"{n} dummy records inserted into the Tracking_id collection.")
        
    except Exception as e:
        print(f"An unexpected error occurred: {e}")


if __name__ == "__main__":
    main()